@model HotelApp.ViewModels.UserViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
  <div class="row">
    <div class="span12">

      <form class="form-horizontal" asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
        <div class="validation" asp-validation-summary="ModelOnly" />
        <fieldset>
          <div id="legend">
            <legend class="">Sign in</legend>
          </div>
          <div class="control-group">
            <label class="control-label" asp-for="Email">Email</label>
            <div class="controls">
              <input class="form-control" type="text" asp-for="Email" autocomplete="new-email" />
              <span asp-validation-for="Email">@Html.ValidationMessageFor(model => model.Email)</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" asp-for="Password">Password</label>
            <div class="controls">
              <input class="form-control" type="password" asp-for="Password" autocomplete="new-password" />
              <span asp-validation-for="Password">@Html.ValidationMessageFor(model => model.Password)</span>
            </div>
          </div>
          @Html.ValidationMessage("incorrectCredentials")
          <div class="control-group signInBlock">
            <div class="controls">
              <button type="submit" class="btn btn-success login-btn">Sign in</button>
            </div>
            <div class="controls">
              <a asp-action="Register" asp-controller="Account">Sign up</a>
            </div>
          </div>

        </fieldset>
      </form>

    </div>
  </div>
</div>
