@model HotelApp.ViewModels.RegisterViewModel

<div class="container">
  <div class="row">
    <div class="span12">

      <form class="form-horizontal" asp-action="Register" asp-controller="Account" asp-anti-forgery="true" method="POST">
        <div class="validation" asp-validation-summary="ModelOnly" />
        <fieldset>
          <div id="legend">
            <legend class="">Registration</legend>
          </div>
          <div class="control-group">
            <label class="control-label" asp-for="Email">Email</label>
            <div class="controls">
              <input class="form-control" type="text" asp-for="Email" autocomplete="new-email" />
              <span asp-validation-for="Email">@Html.ValidationMessageFor(model => model.Email)</span>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" asp-for="Password">Password</label>
            <div class="controls">
              <input class="form-control" type="password" asp-for="Password" autocomplete="new-password"/>
              <span asp-validation-for="Password">@Html.ValidationMessageFor(model => model.Password)</span>
            </div>
         </div>
            <div class="control-group">
              <label class="control-label" asp-for="ConfirmPassword">ConfirmPassword</label>
              <div class="controls">
                <input class="form-control" type="password" asp-for="ConfirmPassword" autocomplete="new-password"/>
                <span asp-validation-for="ConfirmPassword">@Html.ValidationMessageFor(model => model.ConfirmPassword)</span>
              </div>
            </div>
          @Html.ValidationMessage("incorrectCredentials")
          <div class="control-group signInBlock">
            <div class="controls">
              <button type="submit" class="btn btn-success login-btn">Sign up</button>
            </div>
          </div>
        </fieldset>
      </form>

    </div>
  </div>
</div>
