@model HotelApp.ViewModels.UserViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
  <div class="row">
    <div class="span12">

      <form class="form-horizontal" asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
        <div class="validation" asp-validation-summary="ModelOnly" />
        <fieldset>
          <div class="control-group">
           <span class="span-label">Please, sign up!</span>
            <div class="controls">
              <a asp-action="Register" asp-controller="Account">Sign up</a>
            </div>
          </div>

        </fieldset>
      </form>

    </div>
  </div>
</div>
