body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
  color: #b94a48;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.navbar-inverse {
  background-color: darkblue;
  border-color: darkblue;
}

label {
  float: left;
  font-weight: normal !important;
}

.control-group {
  margin-bottom: 10px;
  margin-left: 10%;
}

.form-control {
  width: auto;
  margin-left: 12%;
}

.form-horizontal .control-label {
  margin-right: 1%;
  font-family: Helvetica;
}

fieldset {
  margin-top: 5%;
  margin-bottom: 10%;
}

.signInBlock {
  margin: 1% 0 0 31%;
}

.span-label {
  color: red;
}

span[data-valmsg-for=incorrectCredentials] {
  margin-left: 26% !important;
}

